body {
    font-family: Arial, sans-serif;
}

#register, #login {
    margin-bottom: 2em;
}

input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    margin-bottom: 1em;
}

button {
    padding: 0.5em 1em;
    color: white;
    background-color: blue;
    border: none;
}

#city-div, #destination-div {
    width: 50%;
    float: left;
}
